body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: url(../img/bg-barbershop-index.jpg) #000000 no-repeat center top;
}

h1 {
  font-size: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url(../img/sprite.png) no-repeat;
  background-position: -10px -337px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url(../img/hr.png) no-repeat center,
  #f8f5f2 url(../img/bg.jpg);
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/bg-footer.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url(../img/sprite.png) no-repeat center;
  transition:
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: -10px -452px;
}

.social-btn-fb {
  background-position: -10px -50px;
}

.social-btn-inst {
  background-position: -10px -176px;
}

.social-btn-vk:hover {
  background-position: -10px -515px;
}

.social-btn-fb:hover {
  background-position: -10px -113px;
}

.social-btn-inst:hover {
  background-position: -10px -239px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/* other pages */
a.logo-inner {
  float: left;
  width: 111px;
  padding: 22px 20px 16px 20px;
}

a.logo-inner img {
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url(../img/bg.jpg) repeat;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

/* catalog.html */
.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-group {
  margin-bottom: 55px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-bottom: 15px;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/sprite.png) no-repeat;
  background-position: -12px -12px;
}

input[type="checkbox"]:checked + label:hover {
  color: #663d15;
}

input[type="checkbox"]:checked + label:hover {
  color: #663d15;
}

input[type="checkbox"]:disabled + label, input[type="checkbox"]:disabled + label::before {
  opacity: 0.5;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin-bottom: 15px;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/sprite.png) no-repeat;
  background-position: -12px -414px;
}

input[type="radio"]:checked + label:hover {
  color: #663d15;
}

input[type="radio"]:disabled + label, input[type="radio"]:disabled + label::before {
  opacity: 0.5;
}

legend {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  display: block;
  font-size: 24px;

}

fieldset{
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog {
  float: right;
  width: 700px;
}

.wrap-catalog-item {
  margin-bottom: 45px;
}

.catalog-item {
  float: left;
  width: 220px;
  min-height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #C7C7C7;
  background-color: #ffffff;
}

.catalog-item img {
  width: 220px;
  height: 165px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-title {
  padding: 15px 20px;
}

.catalog-item-title a {
  display: block;
  color: #000000;
  text-decoration: none;
}

.catalog-item-category, .catalog-item-name {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-category {
  text-transform: none;
}

.price-block {
  padding: 0 20px 15px 20px;
  margin-bottom: 5px;
  font-size: 0;
}

.price-block span {
  display: inline-block;
  padding: 10px 28px;
  background-color: #e5e5e5;
  color: #000000;
  font-size: 14px;
}

.add-to-cart {
  display: inline-block;
  padding: 10px 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-to-cart:hover,
.add-to-cart:active {
  background-color: #663d15;
}

ul.paginator {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

ul.paginator li {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  vertical-align: top;
  margin-right: 10px;
}

ul.paginator a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
}

ul.paginator a:hover {
  background: #663d15;
}

ul.paginator li.active span {
  display: block;
  padding: 15px 20px;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
}

/* catalog-item.html */
.gallery-item {
  float: left;
  width: 460px;
}

.gallery-item-img {
  margin-bottom: 20px;
    box-shadow: 0 0 20px #C7C7C7;
}

.gallery-item-img-preview {
  float: left;
  width: 140px;
  margin-right: 20px;
  height: 149px;
  box-shadow: 0 0 20px #C7C7C7;
}

.gallery-item-img-preview:nth-child(3) {
  float: right;
  margin-right: 0;
}

.description {
  float: right;
  width: 390px;
  padding-top: 25px;
}

.description-main {
  margin-bottom: 45px;
}

.description-main-availability {
  float: left;
}

.description-main-article {
  float: right;
  color: #aeaeae;
}

.description p.about-item {
  margin-bottom: 45px;
}

.wrap-price-block {
  display: block;
}

.wrap-price-block .price-block {
  padding: 0;
  margin: 0;
  margin-bottom: 66px;
}

.description-structure {
  margin-bottom: 40px;
}

/* price.html */
.big-heading {
  margin-bottom: 65px;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url("../img/bg.jpg") repeat;
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000000;
}

.content-column-left h2, .content-column-right h2, .content-row h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

.content-column-left h3, .content-column-right h3, .content-row h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.content p {
  margin: 14px 0;
}

.custom-list {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.custom-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.content table {
  border-collapse: collapse;
}

.content td {
  padding: 10px 15px;
  border: 2px solid #000000;
}

.content-column-left {
  float: left;
  width: 460px;
  margin-bottom: 70px;
}

.content-column-right {
  float: right;
  width: 460px;
  margin-bottom: 70px;
}

.content-column-left *:first-child,
.content-column-right *:first-child {
  margin-top: 0;
}

.content-column-left *:last-child,
.content-column-right *:last-child {
  margin-bottom: 0;
}

.content-row {
  clear: both;
}

p.content-column-left, p.content-column-right {
  margin-bottom: 0;
  margin-top: 0;
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

/* google-map */
.popup-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.google-map {
  width: 765px;
  height: 562px;
}

/* Всплывающая форма */
.popup-sing-in {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/bg.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup-sing-in h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.popup-sing-in p {
  margin: 0;
  margin-bottom: 14px;
}

.popup-sing-in .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 256px -288px;
}

.login-form input.icon-password {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 256px -362px;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

