body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'PT Sans', Arial, sans-serif;
}

h1, h2 {
  font-size: 30px;
}

.google-map {
  width: 765px;
  height: 562px;
}